@import "./common.form.colors.scss";
@import "./variables.scss";

.antd-carbon-overwrites {
  .ant-form-item-label > label {
    flex-direction: row-reverse !important;
    color: rgba(58, 53, 65, 0.5);
  }

  .ant-form-item-label
    > label.ant-form-item-required:not(
      .ant-form-item-required-mark-optional
    )::before {
    margin-left: 0.2rem !important;
    color: $error-color !important;
  }

  .ant-picker {
    border-radius: 5px !important;
    height: 35px !important;
  }

  .PhoneInput {
    .PhoneInputCountry {
      border: 1px solid #d9d9d9 !important;
      border-radius: 5px !important;
      padding: 0 1rem 0 1rem;
    }
    .PhoneInputInput {
      flex: 1 1;
      min-width: 0;
      border-radius: 5px !important;
      height: 40px;
      border: 1px solid #d9d9d9 !important;
      outline: none;
    }
  }

  .filter-title {
    color: $common-filter-color;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 0.875rem;
  }

  .ant-radio-wrapper {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 22px;
    color: $common-filter-color;
  }

  .ant-list-item {
    color: $common-filter-color;
  }

  .PhoneInput {
    .PhoneInputInput:focus-visible,
    .PhoneInputInput:hover {
      flex: 1 1;
      min-width: 0;
      border-radius: 5px !important;
      height: 40px;
      border-right: 1px solid #40a9ff !important;
      outline: 1px solid #40a9ff;
    }
  }
}
