@import '../../Styles/colors.role.scss';
@import '../../Styles/variables.scss';

.ndc-steps-actions {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 1rem;
  justify-content: center;

  .action-btn {
    border: 1px solid $primary-color;
    color: $primary-color;
    margin-right: 1rem;
  }
  .back-btn {
    border: 1px solid $border-default-btn;
    color: $border-default-btn;
    margin-right: 1rem;
  }
  .mg-left-1 {
    margin-left: 1rem;
  }
}
